/* padding:2px 4px 3px 5px; [padding-top, padding right  padding-bottom padding-left] */

html{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-heading {
  font-size: 64px;
  color: palevioletred;
  text-align: center;
  justify-content: center;
}

p{
  font-size: 18px;
  border-radius: 15px 25px 35px 20px; 
}


.section-padding {
  background: linear-gradient(
    to right,
    #3a7bd5, #002aff); 
  color: #fff;
  border: 10px solid #003b99;
  /* padding: 100px 150px; */
  padding: 100px 150px 50px 200px;
}